body {
    margin: 0;
    padding: 0;
}

#map {
    width: 1000px;
    height: 600px;
}
.box{
    background: rgba(0, 0, 0, 0.6);
    color: #FFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
}

textarea, button{
    border: none;
    padding: 5px;
    border-radius:  3px;
    resize: none;
}

.coordinates, .beskrivning{
    width: 100%;
    height: 400px;
}
.platser{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-bottom: 20px;
}
button:hover{
    cursor: pointer;
}